/* improt fonts -  font-family: 'Nunito', sans-serif; */
/* /kjdaskdbskajbdsajkdbsajkbd */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

}

body {
  background-color: #ffffff;
}

.bodyimg {
  position: absolute;
  margin-left: 45%;
  margin-top: 7%;
}

.bodyimg img {
  height: 458px;
  width: 512px;
}
header {
  min-height: 100vh;
  width: 100%;
  background-color: #361040;
}
.contener {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  color: #ffffff;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2px;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  padding: 12px 20px;
}
nav ul li a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #dc3545;
  cursor: pointer;
}
.font {
  position: absolute;
  height: 225px;
  width: 390px;
  padding-top: 16%;
  margin-left: 20%;
}
.font h1 {
  color: #ffffff;
  margin-bottom: 5px;
}
.font p {
  color: #ffffff;
  font-size: 15px;
  line-height: auto;
  width: auto;
}
.font button {
  height: 40px;
  width: 150px;
  background-color: #e83e8c;
  border-radius: 10px;
  margin-top: 4%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.font button:hover {
  background-color: #361040;
  border: 1px solid #e83e8c;
  color: #e83e8c;
}

.arro {
  display: flex;
  margin-top: 25%;
  gap: 1%;
  cursor: pointer;
}

.right-arro {
  height: 45px;
  width: 45px;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 12px;
  border-radius: 50px;
  background-color: #20c997;
}

.left-arro {
  height: 45px;
  width: 45px;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 12px;
  border-radius: 50px;
  background-color: #20c997;
}

/*---------------------- header---------------- */

/*---------------------- section ---------------- */

.about {
  text-align: center;
  margin-top: 5%;
}

.about h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.about p {
  margin-top: 1%;
  font-weight: 400;
  line-height: auto;
  align-items: center;
  width: 1000px;
  font-size: 15px;
  margin-left: 17%;
}
.about-img img {
  width: 700px;
}

/* .About-btn {
  position: absolute;
  /* align-items: center;
  text-align: center; */
.About-btn button {
  height: 40px;
  width: 150px;
  background-color: #361040;
  border-radius: 5px;
  margin-top: 4%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
.About-btn button:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}
.hero {
  width: 100%;
  height: 100vh;
  background-color: #361040;
  margin-top: 5%;
}
.hero h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 4%;
}
.hero p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding-top: 1%;
  max-width: 56%;
  margin-bottom: 4%;
}

/*---------------------- section end ---------------- */

/*---------------------- section B---------------- */

.aro-btn button {
  height: 35px;
  width: 45px;
  margin-top: 7%;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
  color: #ffffff;
  background-color: #e83e8c;
  cursor: pointer;
  transition: 0.3s;
}

.owl-prev {
  float: left;
}
.owl-next {
  float: right;
}

.aro-btn button:hover {
  color: black;
  background-color: #ffffff;
}
/*------------- Facilities  -------------------*/

.facilities {
  height: 414px;
  width: 1140px;
}
.row {
  display: flex;
  width: 270px;
  height: 414.59px;
  margin-right: 66%;
  /* position: absolute; */
}
.facilities-col {
  width: 245px;
  height: 240px;
  margin: 10px;
  margin-right: 5%;
  background-color: #daedf7;
  border-radius: 10px;
}
.facilities-col img {
  height: 245px;
  width: 240px;
  padding: 45px 24px;
}
.facilities-col button {
  width: 181px;
  height: 36px;
  color: #361040;
  cursor: pointer;
  transition: 0.05s;
  border-radius: 5px;
}
.facilities-col button a {
  text-decoration: none;
  text-transform: uppercase;
}
.facilities-col button i {
  margin-right: 5px;
}
.facilities-col button:hover {
  background-color: #361040;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.facilities-col .font-size {
  font-size: 24px;
  color: #20c997;
}
.facilities-col del {
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}
.bt button {
  width: 244px;
  height: 44px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #e83e8c;
  cursor: pointer;
}

.bt button:hover {
  background-color: #361040;
  border: 1px solid #e83e8c;
  color: #e83e8c;
}
/*=========================== blog------------------------- */
.blog {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
}
.RRR {
  display: flex;
  justify-content: center;
}
.box h1 {
  margin-top: 6%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  color: black;
}

.blog-col {
  display: flex;
  width: 360px;
  height: 461px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-right: 2%;
  margin-top: 3%;
}
.blog-col img {
  width: 360px;
  height: 276px;
  align-items: center;
}

.blog-col p {
  position: absolute;
  margin-top: 20%;
  margin-left: 2%;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

.blog-col a {
  position: absolute;
  margin-top: 26%;
  margin-left: 2%;
  text-decoration: none;
}

.blog-col samp {
  position: absolute;
  margin-top: 1%;
  margin-left: 17.7%;
  border: 2px solid #ffffff;
  padding: 5px 10px;
  background-color: #361040;
  color: #ffffff;
  border-radius: 3px;
}
/*-------------  testimonial  -------------------*/

.testimonial {
  position: absolute;
  width: 870px;
  height: 80vh;
  margin-top: 47%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: 21%;
  align-items: center;
}

.testimonial-btn .zero {
  position: absolute;
  width: 870px;
  height: 95px;
  background-color: #361040;
  margin-left: -2px;
}

.testimonial-btn {
  margin-top: 30px;
  width: 870px;
  height: 56vh;
  border: 2px solid #361040;
  border-top: 0;
}
.testimonial-btn .arro {
  margin-top: 3%;
  margin-left: 44%;
}
.testimonial-btn .left-arro {
  background-color: #ffffff;
  color: black;
}
.testimonial-btn .right-arro {
  background-color: #ffffff;
  color: black;
}
.testimonial-btn .right-arro i {
  margin-right: 10px;
}
.testimonial-btn .left-arro i {
  margin-right: 10px;
}

.testimonial-btn .right-arro:hover {
  background-color: #e83e8c;
  color: #ffffff;
}
.testimonial-btn .left-arro:hover {
  background-color: #e83e8c;
  color: #ffffff;
}

.testimonial-btn .review img {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-top: 19%;
  margin-left: -9.5%;
  border-radius: 100px;
  border: 7px solid #361040;
  border-left: 0;
  border-top: 0;
}

.testimonial-btn h3 {
  position: absolute;
  color: #361040;
  margin-top: 40%;
  margin-left: 40.3%;
  font-weight: 400;
  font-size: 20px;
}
.testimonial-btn p {
  position: absolute;
  margin-top: 44%;
  font-weight: 400;
  font-size: 11px;
  width: 820px;
  line-height: 16px;
  margin-left: 3%;
  color: #361040;
}
/* -------------------------footer------------------ */
.footer-end {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  margin-top: 101%;
}
footer {
  width: 100%;
  background-color: #361040;
  position: absolute;
  margin-top: 85%;
  height: 250px;
}

footer .contener {
  width: 100%;
  height: 200px;
  /* background-color: #dc3545; */
  margin-top: 1.7%;
}
footer .row {
  display: flex;
  width: 900px;
  height: 200px;
  /* background-color: aqua; */
  margin-left: 20%;
  gap: 6px;
}
footer .col-md {
  width: 255px;
  height: 200px;
  /* border: 1px solid red; */
  text-align: left;
}
footer .col-md h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
footer .col-md p {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  margin-top: 14px;
}

footer .col-md a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  margin-left: 4px;
  font-weight: 400;
  margin-top: 10px;
}
footer .col-md i {
  color: #ffffff;
  margin-top: 12px;
  font-size: 14px;
}

footer .col-md a:hover {
  color: #20c997;
}

#email {
  width: 245px;
  height: 34px;
  margin-top: 8%;
}

footer .col-md button {
  width: 147px;
  height: 38px;
  margin-top: 10px;
  background-color: #e83e8c;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}
footer .col-md button:hover {
  background-color: #ffffff;
  color: black;
}
footer .col-md .fa-brands i {
  margin-right: 5px;
  font-size: 20px;
}

.footer-end {
  height: 20px;
  position: absolute;
  margin-left: 42%;
  margin-top: 102%;
  font-weight: 400;
  font-size: 10px;
}
